 <div class="container m-5">
  <div class="row justify-content-center">
    
    <div class="col-md-6">
     <h1>{{title}}</h1>

     <!--Input valor 1-->
     <div class="mt-1">
      <label for="numero1">Número 1:</label>
      <input type="number" [(ngModel)]="numero1" id="numero1" />
    </div>
     <!--Input valor 2-->
    <div class="mt-1">
      <label for="numero2">Número 2:</label>
      <input type="number" [(ngModel)]="numero2" id="numero2" />
    </div>
    
    <!--Zona de los botones de operaciones-->
    <div >
      <button class="btn btn-primary m-1" (click)="sumar()">Sumar</button>
      <button class="btn btn-primary m-1" (click)="restar()">Restar</button>
      <button class="btn btn-primary m-1" (click)="multiplicar()">Multiplicar</button>
      <button class="btn btn-primary m-1" (click)="dividir()">Dividir</button>
    </div>
    
    <!--Zona del resultado-->
      <div class="mt-2">
        <p>Resultado: {{ resultado }}</p>
      </div>
  
    </div>
  </div>
</div>